.navbar-section {
    background-color: #121212;
    color: white;

}
.movie-description {
    height:170px;
    margin-left: 15%;
    margin-right: 15%;
    border: 1px solid lightgray;
}
body{
    background-color: white;
}
